.belowHeaderAddon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    height: auto;
    width: auto;
    padding-bottom: 5px;
}
.insideBelowHeaderAddon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.adddOnFirst{
    height: auto;
    width: 25dvw;
}
.adddOnSecond{
    height: auto;
    width: 25dvw;
}
.adddOnThird{
    height: auto;
    width: 25dvw;
}
.inputAddon{
    background-color: white;
    color: #000;
}
.submitBtn{
    margin-top: -10px;
    padding-top: -10px;
}
.addOnTitleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}