*{
    background-color: #242424;  
    color: white;
}

.mainDiv{
    height: 100dvh;
    width: 100dvh;
    display: flex;
    flex-direction: row;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100dvh;
    border-right: 5px solid white;
}
.rightDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
}
.divSplitter{
    display: flex;
    flex-direction: row;
}
.categoryUpdater{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}
.toolBoxCat{
    display: flex;
    height: 400px;
    width: 300px;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.insideToolBox{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    gap: 30px;
}
.availabilityBox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.inputCat{
    background-color: white;
    color: black;
    height: 40px;
}
.stockOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.stockButtons{
    background-color: white;
    border: 0px;
    color: black;
    width: 100px;
}
.finalSubmitBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitHere{
    width: 400px;
    height: 50px;
    border-radius: 40px;
    border: 0px;
    background-color: green;
}