*{
    background-color: #242424;  
    color: white;
}
.backGroundFix{
    color: white;
    background-color: black;
}
.mainDiv{
    height: 80dvh;
    width: 100dvh;
    display: flex;
    flex-direction: row;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100dvh;
    border-right: 5px solid white;
}
.rightDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
}
.divSplitter{
    display: flex;
    flex-direction: row
}
.categoryUpdater{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
    margin-top: -20px;
}
.toolBoxCat{
    display: flex;
    height: 400px;
    width: 300px;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.insideToolBox{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    gap: 30px;
}
.availabilityBox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.inputCat{
    background-color: white;
    color: black;
    height: 40px;
}
.stockOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.stockOptions:hover{
    cursor: pointer;
}
.stockButtons{
    background-color: white;
    border: 0px;
    color: black;
    width: 100px;
}
.finalSubmitBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitHere{
    width: 400px;
    height: 50px;
    border-radius: 40px;
    border: 0px;
    background-color: green;
}
.imgUpload{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.hoverTheStock{
    display: flex;
    width: 70%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.outOfStockClass{
    display: flex;
    width: 70%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.cxViewHeading{
    background: white;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catsCxView{
    padding: 10px;
    height: 100%;
    width: 90%;
    margin-top: 20px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.headingCatsCol{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
}
.collDelMeta{
    display: flex;
    flex-direction: row;
    gap: 10px;
 }
 .catsDelsStocks{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
 }
 .microContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
 }
 .catNameHere{
    width: 200px;
    object-fit: contain;
    text-overflow: clip;
 }
 li{
    list-style: none;
 }
 .catsAndSubCats{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
    border: 1px solid white;
 }
 .catsAndSubs{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }
 .catsFlexRow{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.inputTypeCat{
    width: 100px;
    background-color: white;
    color: black;
}
.inputBoxItemUpdater{
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
}
.inputBoxItemUpdaterPrice{
    height: 50px;   
    background-color: white;
    color: black;
    font-size: 20px;
    width: 50%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.insideItemUpdater{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addItemBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
}
.fullLeftDiv{
    height: 80dvh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.headingMenuUpdater{
    height: 130px;
    width: auto;
}
.addOnPageDiv{
    height: auto;
    width: auto;
}