*{
    margin: 0px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.handleEntry{
    background-color: #242424;
    height:  100lvh;
    width: 100lvw;
    display: flex;
    flex-direction: row;
}
.leftHalfWindow{
    width: 50%;
    height: 100%;
}
.rightHalfWindow{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formClass{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    color: black;
}
.inputForm1{
    color: white;
}
.buttonLogin{
    background-color: white;
    color: #000;
}
.signUpBtn{
    margin-bottom: 30px;
    width: 200px;
    background-color: #000;
    border-width: 0px;
    text-align: center;
    padding : 5px;
    border-radius: 30px;
}
.signUpBtn:hover{
    background-color: gray;
}
.backtoSignin{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.leftA{
    border: 1px solid;
    border-radius: 10px;
}
.leftA:hover{
    background-color: white;
}
.backtoSignUp{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
